#top
  - title(resource_name.to_s.humanize + " Sign In")
  #middle
    #title
      %h2
        = resource_name.to_s.humanize 
        Sign In
    #form
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.error_messages
        #fieldset
          = f.label :username
          #div_texbox1
            = f.text_field :username, :class => "fillout01"
          = f.label :password
          #div_texbox2
            = f.password_field :password, :class => "fillout01"
          #remember
            - if devise_mapping.rememberable?
              #label
                = f.label :remember_me
              #check
                = f.check_box :remember_me, :class => "fillout01"
              #submit
                = f.submit "Sign In"
      = render :partial => "shared/devise_links"