<div class="edit_form">
  <fieldset>
    <% form_for @winery, :url => @winery.new_record? ? '/user/wineries' :  "/user/wineries/#{@winery.id}" do |f| %>
      <%= f.error_messages %>
      <%= f.label :winery_name %>
      <span class="div_texbox">
        <%= f.text_field :winery_name, :required => true, :class => "fillout01" %>
    	</span>
      <%= f.label :telephone %>
      <span class="div_texbox">
        <%= f.text_field :telephone, :class => "fillout03" %>
    	</span>
      <%= f.label :address %>
      <span class="div_texbox">
        <%= f.text_field :address, :required => true, :class => "fillout01" %>
    	</span>
      <%= f.label :address2 %>
      <span class="div_texbox">
        <%= f.text_field :address2, :class => "fillout01" %>
    	</span>
      <%= f.label :city %>
      <span class="div_texbox">
        <%= f.text_field :city, :required => true, :class => "fillout03" %>
    	</span>
      <%= f.label :state %>
      <span class="div_texbox">
        <%= f.text_field :state, :required => true, :class => "fillout04" %>
    	</span>
      <%= f.label :zipcode %>
      <span class="div_texbox">
        <%= f.text_field :zipcode, :required => true, :class => "fillout04" %>
    	</span>
      <%= f.label :country %>
      <span class="div_texbox">
        <%= f.text_field :country, :class => "fillout04" %>
    	</span>
      <%= f.label :website_url %>
      <span class="div_texbox">
        <%= f.text_field :website_url, :class => "fillout01" %>
    	</span>

 	  <%= f.label :descr, "Description" %>
      <span class="div_texbox">
        <%= f.text_area :descr, :class => "fillout04" %>
    	</span>
 	  <%= f.label :price, "Price Range" %>
      <span class="div_texbox">
        <%= f.text_field :price, :class => "fillout04" %>
    	</span>
 	  <%= f.label :parking, "Parking" %>
      <span class="div_texbox">
        <%= f.check_box :parking, :class => "fillout04" %>
    	</span>
 	  <%= f.label :handicap, "Handicaped Accessible" %>
      <span class="div_texbox">
        <%= f.check_box :handicap, :class => "fillout04" %>
    	</span>
 	  <%= f.label :credit_cards, "Credit Cards" %>
      <span class="div_texbox">
        <%= f.check_box :credit_cards, :class => "fillout04" %>
    	</span>
 	  <%= f.label :fam_friendly, "Family Friendly" %>
      <span class="div_texbox">
        <%= f.check_box :fam_friendly, :class => "fillout04" %>
    	</span>
 	  <%= f.label :restaurant, "Restaurant" %>
      <span class="div_texbox">
        <%= f.check_box :restaurant, :class => "fillout04" %>
    	</span>
 	  <%= f.label :hours, "Hours" %>
      <span class="div_texbox">
        <%= f.text_area :hours, :class => "fillout04" %>
    	</span>

      <span class="div_texbox">
        <%= f.submit "Save" %>
    	</span>
    <% end -%>
  </fieldset>
</div>

