// Show heart
$('#heart_<%=h @favorable.id %>').toggle();
// Change Menu
$('a[href=/events/<%= @favorable.id %>/favorites/<%= params[:id] %>]').text('Add To My Favorites')
$('a[href=/events/<%= @favorable.id %>/favorites/<%= params[:id] %>]').attr({class: 'add_as_favorite', 
                                                                            title: 'Add To My Favorites',
                                                                            href: '/events/<%= @favorable.id%>/favorites'
                                                                           })
addNotice("<p><%= escape_javascript(flash.delete(:notice)) %></p>");                                                                           
