<h1>Favorites</h1>  
  
<ul id="favorites">
  <% @favorites.each do |favorite| %>  
    <li><%= favorite.favorable_type %>, <%= favorite.user_id %>, <%= favorite.favorable_id %></li>  
  <% end %>  
</ul>  

<h2>New Favorite</h2>  
<% form_for [@favorable, Favorite.new] do |form| %>
  <%= form.error_messages %>
  <ol class="formList">
    <li><%= submit_tag "Add As Favorite" %></li>  
  </ol>  
<% end %>
