<% title("Edit " + resource_name.to_s.humanize) %>

<div class="container">
  <hr class="space">
  <div class="push-3 span-18 last main">
    <hr class="space">
    <div class="push-1 span-16">
    
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="edit_form">
        <fieldset>
          <div class="subheading">
            <%= image_tag("../images/account_info.png", :border=>0, :width=>31, :height=>36, :style=>"padding-bottom: 10px; vertical-align: middle;") %> Account Information
          </div>
          <% form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true } do |f| -%>
            <%= f.error_messages %>
            <%= f.label :username, 'User Name' %>
            <span class="div_texbox">
              <%= f.text_field :username, :disabled => "disabled", :class => "fillout01" %> <i>(cannot be changed)</i>
          	</span>         	
          	
            <%= f.label :password %>
            <span class="div_texbox">
              <%= f.password_field :password, :class => "fillout01" %>
          	</span>
            <%= f.label :password_confirmation %>
            <span class="div_texbox">
              <%= f.password_field :password_confirmation, :class => "fillout01" %>
          	</span>
          	<hr>
            <div class="subheading">
              <%= image_tag("../images/personal_info.png", :border=>0, :width=>31, :height=>36, :style=>"padding-bottom: 10px; vertical-align: middle;") %> Personal Information
            </div>
            <%= f.label :first_name %>
            <span class="div_texbox">
              <%= f.text_field :first_name, :class => "fillout03" %>
          	</span>
            <%= f.label :last_name %>
            <span class="div_texbox">
              <%= f.text_field :last_name, :class => "fillout03" %>
          	</span>
            <%= f.label :email %>
            <span class="div_texbox">
              <%= tag(:input, {object_id => "user_email", :required => true, :name => "user[email]", :size => "30", :type => :email, :placeholder => 'e.g. user@domain.com', :value => f.object.email, :class => "fillout02"}) %>
          	</span>
            <%= f.label :birthdate %>
            <span class="div_texbox">
              <%= f.date_select(:birthdate, {:order => [:day, :month, :year], :start_year => Time.now.year-110, :end_year => Time.now.year,}) %>
          	</span>
            <%= f.label :address %>
            <span class="div_texbox">
              <%= f.text_field :address, :class => "fillout01" %>
          	</span>
            <%= f.label :address2 %>
            <span class="div_texbox">
              <%= f.text_field :address2, :class => "fillout01" %>
          	</span>
            <%= f.label :city %>
            <span class="div_texbox">
              <%= f.text_field :city, :class => "fillout03" %>
          	</span>
            <%= f.label :state %>
            <span class="div_texbox">
              <%= f.text_field :state, :class => "fillout04" %>
          	</span>
            <%= f.label :zipcode %>
            <span class="div_texbox">
              <%= f.text_field :zipcode, :class => "fillout04" %>
          	</span>
            <%= f.label :country %>
            <span class="div_texbox">
              <%= f.text_field :country, :class => "fillout04" %>
          	</span>
            <%= f.label :telephone %>
            <span class="div_texbox">
              <%= f.text_field :telephone, :required => true, :class => "fillout03" %>
          	</span>

            <div id="picture_fields">
            <% f.fields_for :picture do |builder| %>
              <%= render :partial => "shared/picture_fields", :locals => {:f => builder} %>        
            <% end %>
            </div>

            <span class="div_texbox"><%= add_child_link "Add Picture?", :picture %></span>

            <%= new_child_fields_template f, :picture, {:partial => "shared/picture"} %>

            <hr/>

            <%= f.label :current_password %>
            <span class="div_texbox">
              <%= f.password_field :current_password, :required => true, :class => "fillout01" %> <i>(for confirmation)</i>
           	</span>

            <span class="div_texbox">
              <%= f.submit "Update" %>
           	</span>
          <% end -%>
        </fieldset>
      <%= render :partial => "shared/devise_links" %>
      <div id="jstemplates">
        <%= yield :jstemplates %>
      </div>
      </div>
    </div>
  </div>
</div>
