<% title "Video" %>

<div class="entry_form">
  <p>
    <video src="<%= @video.url %>" width="320" height="240" controls>
      <source src="<%= @video.url %>" type='video/ogg; codecs="theora, vorbis"'/>
      <object width="320" height="240" type="application/x-shockwave-flash" data="flowplayer/flowplayer-3.2.5.swf">  
        <param name="movie" value="flowplayer/flowplayer-3.2.5.swf" />  
        <param name="allowfullscreen" value="true" />  
        <param name="flashvars" value='config={"clip": {"url": "<%= @video.url %>", "autoPlay":false, "autoBuffering":true}}' />  
        <p>Download video as <a href="pr6.mp4">MP4</a>, <a href="pr6.webm">WebM</a>, or <a href="pr6.ogv">Ogg</a>.</p>  
      </object>
      <embed
        flashvars="file=<%= @video.url %>&autostart=true"
        allowfullscreen="true"
        allowscripaccess="always"
        id="player1"
        name="player1"
        src="jwplayer/player.swf"
        width="320"
        height="240"
      />
    </video>
  </p>

</div>

<p>
  <%= link_to "Destroy", @video, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", videos_path %>
</p>
