<% ordered_list ||= false %>
<% editable ||= false %>
<% map_it ||= true %>
<% path ||= "" %>
<div class='list'>
  <h2><%= defined?(list_header) ? list_header : object_list[0].class.name.pluralize %></h2>
  <% if !object_list.empty? %>
    <%= ordered_list ? "<ol>" : "<ul>" %>
      <% object_list.each_with_index do |object, idx| %>
        <% if ordered_list && idx == 0 then %>
      <li style="font-weight: bold; list-style-image: url(images/medal.jpg);">
        <% else %>
      <li>
        <% end %>
        <% if object.class.name == "Winery" %>
          <% if map_it then %>
            <a class="map-wine" href="#" data-winery-lat=<%=h object.lat %> data-winery-lng=<%=h object.lng %> ><%=h object.winery_name %> <br>- <%=h object.city %>, <%=h object.state %></a>
          <% else %>
            <%= link_to object.winery_name + '<br>-' + object.city + ',' + object.state, object, :title=> "Show" %>
          <% end %>
        <% else %>
          <%= link_to object.name + '<br>-' + object.winery.city + ',' + object.winery.state, object, :title=> "Show", :class => 'dialog_form_link' %>
        <% end %>
        <% if user_signed_in? %>
          <div style="float: right;" class="stars">
            <form action="/<%= path + object.class.name.pluralize.downcase %>/<%= object.id %>/rating/" method="post">
              <%= render_stars object %>
            </form>
          </div>
            <% if object.class.name == "Wine" && editable %>
              <%= link_to image_tag("../images/pencil.png", :border=>0, :alt=>"Edit"), edit_user_winery_wine_path(object.winery, object), :title=> "Edit", :class => 'dialog_form_link' %>
            <% end %>
        <% else %>
          <div style="float: right;" class="stars">
            <form action="/<%= path + object.class.name.pluralize.downcase %>/<%= object.id %>/rating/" method="post">
              <%= render_stars object, true %>
            </form>
          </div>
        <% end %>
      </li>
      <% end %>
    <%= ordered_list ? "</ol>" : "</ul>" %>
  <% end %>
</div>

