<div id='top_list'>

  <h2>Top 10 Wineries</h2>
  <ol>
    <% @wineries.each_with_index do |winery, idx| %>
      <% if idx == 0 then %>
    <li style="font-weight: bold; list-style-image: url(images/medal.jpg);">
      <% else %>
    <li>
      <% end %>
      <a class="map-wine" href="#" data-winery-lat=<%=h winery.lat %> data-winery-lng=<%=h winery.lng %> ><%=h winery.winery_name %> <br>- <%=h winery.city %>, <%=h winery.state %></a>
      <% if user_signed_in? %>
        <div style="float: right;" class="stars">
          <form action="/wineries/<%= winery.id %>/rating/" method="post">
            <%= render_stars winery %>
          </form>
        </div>
      <% else %>
        <div style="float: right;" class="stars">
         <form action="/wineries/<%= winery.id %>/rating/" method="post">
            <%= render_stars winery, true %>
         </form>
        </div>
      <% end %>
    </li>


    <% end %>
  </ol>
</div>
