<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
 $.jQTouch({
      icon: 'jqtouch.png',
      statusBar: 'black-translucent',
      preloadImages: [
          'themes/jqt/img/chevron_white.png',
          'themes/jqt/img/bg_row_select.gif',
          'themes/jqt/img/back_button_clicked.png',
          'themes/jqt/img/button_clicked.png'
          ]
  });

  </script>
<% end %>

<div id="home" class="current">
  <div class="toolbar">
      <h1>Barrel Run</h1>
      <% if user_signed_in? %>
      <a id="signed_in"><%= link_to "Sign Out", destroy_user_session_path %></a>
      <% elsif winery_signed_in? %>
      <div id="signed_in">
        <%= link_to "Signed in as " + current_winery.username, edit_winery_registration_path %>
        <%= link_to "Sign Out", destroy_winery_session_path %>
      </div>
      <% else %>
      <a <%= link_to h("Login"), new_user_session_path %> </a>
      <% end %>

  </div>
  <ul id="links" class="rounded">
    <li class="arrow"><a href="/home/top_wines">Top Wines</a></li>
    <li class="arrow"><a href="/home/top_wineries">Top Wineries</a></li>
    <li class="arrow"><a href="#nearBy">Near By</a></li>
    <li class="arrow"><%= link_to h("Events"), events_path %></li>
  <!--  <li class="arrow"><%= link_to h("Wineries"), wineries_path %></li>  -->
  <!--  <li class="arrow"><%= link_to h("Wines"), wines_path %></li>  -->
    <li class="arrow"><%= link_to h("Specials"), specials_path %></li>
    <li class="arrow"><a href="#search">Search</a></li>
  </ul>


</div>

<div id="nearBy">
	<div class="toolbar">
         <h1>Near By</h1>
         <a class="button cancel" href="#">Back</a>
    </div>
    <div class="body">
 
		<div class="colborder">
      		<div>

			</div>
	      </div>    
    </div>
</div>

<div id="search">
	<div class="toolbar">
		<h1>Search</h1>
		<a class="button cancel" href="#">Back</a>
  </div>
	<div class="body">
      <% form_tag({:controller => "/searches", :action => "search"}, :method => :get, :class=>"span-15 prepend-top", :id=>"search") do %>
        <div id="header_search_box">
          <div>
            <div>
              <label>Enter Winery, Wine or Region</label><br>
            </div>
            <div>
              <%= text_field_tag :search, params[:search], :class=>"span-7" %>
            </div>
          </div>
          <div>
            <div>
              <label>Nearby (Enter City)</label><br>
            </div>
            <div>
              <%= text_field_tag :nearby, params[:nearby], :class=>"span-4" %>
            </div>
          </div>
          <div>
            <input  type="submit" value="Search">
          </div>
        </div>
          <% end %> 
	</div>
</div>



