<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">


  </script>
<% end %>

<div id="home" class="current">
  <div class="toolbar">
      <h1>Barrel Run</h1>

      <% if user_signed_in? %>
      <a id="signed_in"><%= link_to "Sign Out", destroy_user_session_path %></a>
      <% elsif winery_signed_in? %>
      <div id="signed_in">
        <%= link_to "Signed in as " + current_winery.username, edit_winery_registration_path %>
        <%= link_to "Sign Out", destroy_winery_session_path %>
      </div>
      <% else %>
      <a <%= link_to h("Login"), new_user_session_path %> </a>
      <% end %>

  </div>
  <ul id="links" class="rounded">
    <li class="arrow"><a href="/home/top_wines">Top Wines</a></li>
    <li class="arrow"><a href="/home/top_wineries">Top Wineries</a></li>
    <li class="arrow"><a href="#nearBy">Near By</a></li>
    <li class="arrow"><%= link_to h("Events"), events_path %></li>
    <li class="arrow"><%= link_to h("Wineries"), wineries_path %></li>
    <li class="arrow"><%= link_to h("Wines"), wines_path %></li>
    <li class="arrow"><%= link_to h("Specials"), specials_path %></li>
  </ul>


</div>

<div id="nearBy">
	<div class="toolbar">
         <h1>Near By</h1>
         <a class="button cancel" href="#">Back</a>
    </div>
    <div class="body">
 
		<div class="colborder">
      		<div>

			</div>
	      </div>    
    </div>
</div>



