<div id="topWines">
	<div class="toolbar">
  	<h1>Top Wines</h1>
		  <a class="button home" href="/">Home</a>
      <% if user_signed_in? %>
      	<a id="signed_in"><%= link_to "Sign Out", destroy_user_session_path %></a>
      <% else %>
      	<a <%= link_to h("Login"), new_user_session_path %> </a>
      <% end %>
	</div>

  <div class="body">
    <ul>
	 		<% for wine in @wines %>
				<li class="arrow">
					<table>	
						<tr>
							<td>	
								<div><%= link_to h(wine.name), wine %> </div>
								<div><%= link_to h(wine.winery.city + ", " + wine.winery.state), wine %> </div>
	  						<% if user_signed_in? %>
            			<div class="stars">
              			<form action="/wines/<%= wine.id %>/rating/" method="post">
                			<%= render_stars wine %>
              		</form>
            			</div>
          			<% else %>
            			<div class="stars">
                		<%= render_stars wine, true %>
            			</div>
          			<% end %>
							</td>
						</tr>
					</table>				
				</li>
		<% end %>
    </ul>
  </div>    
</div>
