<div id="home" class="current">
  <div class="toolbar">
      <h1>Event</h1>
      <a  <%= link_to h("Back"), events_path %></a>
  </div>

<table>
	<tr> 
		<td width="60" >
			<% if @event.pictures.length > 0 then %>
    			<% for picture in @event.pictures %>
  				<p>
      				<%= image_tag picture.url(:thumb) %>  
  				</p>
    		<% end %>
  			<% end %>
		</td>	
        <td>
  <p>
    <strong>Title:</strong>
    <%=h @event.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%=h @event.description %>
  </p>
  <p>
    <strong>Place:</strong>
    <%=h @event.place %>
  </p>
  <p>
    <strong>Start Date:</strong>
    <%=h @event.start_date %>
  </p>
  <p>
    <strong>End Date:</strong>
    <%=h @event.end_date %>
  </p>
  <p>
    <strong>Winery:</strong>
    <%=h @event.winery_id %>
  </p>
</td>
</tr>
  
</table> 
</div>
