<div class="span-17 entry_form last">
  <div class="span-17 last">
    <div class="span-12 colborder">

      <%= render :partial => "shared/picture_gallery", :locals => {:object => @event} %>

      <div class="span-6 last">
        <div class="span-6 last">
          <h3><%=h @event.name %></h3>
          <h4>Offered by <%= link_to @event.winery.winery_name, @event.winery %></h4>
        </div>
        
        <%= render :partial => "shared/star_rating", :locals => {:object => @event, :action => rating_event_path(@event)} %>

        <% if user_signed_in? %>
          <div class="span-6 append-bottom last">
          <% if @event.favorites.find_by_user_id(current_user) %>
            <a href="/events/<%= @event.id%>/favorites/<%= @event.favorites.find_by_user_id(current_user).id %>" class="remove_as_favorite">Remove From My Favorites</a>
          <% else %>
            <a href="/events/<%= @event.id%>/favorites" class="add_as_favorite">Add To My Favorites</a>
          <% end %>
          </div>
        <% end %>

        <div class="span-6 last">
        	<a id="dialog_atbutton"></a>
        	<a class="addthis_button"></a>
        </div>
        	
        <div class="span-6 last" style="height: 110px; overflow: auto; margin: 10px 0px;">
          <%=h @event.description %>
        </div>e
      </div>
    </div>
    
    <div class="span-4 last" style="font-size: 16px;">
      <ul style="list-style: none; margin: 0px; padding: 0px;" >
        <li><strong>Where:</strong> <%=h @event.place %></li>
        <li><strong>Invitation Type: </strong><%=h @event.invitation_type %></li>
        <li><strong>Start: </strong><%=h @event.start_date.try(:strftime,'%m/%d/%Y')  %></li>
        <li><strong>End: </strong><%=h @event.end_date.try(:strftime,'%m/%d/%Y') %></li>
        <li><strong>Price: </strong><%=h number_to_currency(@event.price) %></li>
        <li><strong>Contact Name: </strong><%=h @event.contact_info_name %></li>
        <li><strong>Phone: </strong><%=h @event.contact_info_phone %></li>
        <li><strong>Email: </strong><%=h @event.contact_info_email %></li>
      </ul>
    </div>

  </div>
  
  <div class="span-17 last comment_block">
    <%= render :partial => "shared/comments_header", :locals => {:path => event_comments_path(@event)} %>
    <%= render :partial => "shared/comment_form", :locals => {:object => @event} %>
    <div id="event_comments"><%= render :partial => "shared/comments", :locals =>{:commentable => @event} %></div>
  </div>

</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
