<% title "Rating" %>

<p>
  <strong>User:</strong>
  <%=h @rating.user_id %>
</p>
<p>
  <strong>Rateable:</strong>
  <%=h @rating.rateable_id %>
</p>
<p>
  <strong>Rateable Type:</strong>
  <%=h @rating.rateable_type %>
</p>
<p>
  <strong>Rate:</strong>
  <%=h @rating.rate %>
</p>

<p>
  <%= link_to "Edit", edit_rating_path(@rating) %> |
  <%= link_to "Destroy", @rating, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ratings_path %>
</p>
