<div id="home" class="current">

  <div class="toolbar">
      <h1>Special</h1>
      <a <%= link_to h("Back"), specials_path %></a>
  </div>
  
  <div class="body">
       <div><%= @special.title %><br/>
              <em>from</em> <%=h @special.start_date.try(:strftime,'%m/%d/%Y') %> <em>till</em> <%=h @special.end_date.try(:strftime,'%m/%d/%Y') %>
                  <div><%=h @special.description %> </div>
        <div><%= link_to h("View and Enter Comments"), special_comments_path(@special) %></div>
       </div>
    </ul>  
</div>   
  
</div>
