<div id="pictures">
  <div class="pagination">
    <div class="span-13">
      <%= will_paginate @pictures, :container => false %>
    </div>
    <div class="page_info span-7 last">
      <%= page_entries_info @pictures %>
    </div>
  </div>

  <div style="overflow: auto;">
    <table style="background: white;">
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Size</th>
        <th>Picture</th>
        <th colspan=2>Action</th>
      </tr>
    <% for picture in @pictures %>
      <tr>
        <td><%=h picture.title %></td>
        <td><%=h picture.name %></td>
        <td><%=h (picture.file_size/1024).round() %> KB</td>
        <td><%= image_tag picture.url(:thumb) %></td>
        <td><%= link_to image_tag("../images/page_find.png", :border=>0, :alt=>"Show"), picture, :title=> "Show", :class => 'dialog_form_link' %></td>
        <td><%= link_to image_tag("../images/bin_closed.png", :border=>0, :alt=>"Delete"), picture, :title=> "Delete", :class => 'delete' %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="pagination">
    <div class="span-13">
      <%= will_paginate @pictures, :container => false %>
    </div>
    <div class="page_info span-7 last">
      <%= page_entries_info @pictures %>
    </div>
  </div>

</div>
