<% title("Search results") %>

<div class="container">
  <hr class="space">
  <div class="prepend-1 span-5">
    <%= form_tag '/searches/faceted_search', :method => "get" do -%>
      <div class="accordion">

        <%- unless params["class"].nil? -%>
          <div class="facet">
            <h4><%= image_tag 'bullet_arrow_down.png' %>Display</h4>
            <div class="options" style="padding-left: 10px;">
              <%= check_box_tag "class[]", "Wine", params["class"].include?("Wine"), {:id => "Wine"} %>
              <%= label_tag "Wine", "Wine", :style => 'display: inline; float: none; padding: 0px;' %><br/>
              <%= check_box_tag "class[]", "Winery", params["class"].include?("Winery"), {:id => "Winery"} %>
              <%= label_tag "Winery", "Winery", :style => 'display: inline; float: none; padding: 0px;' %><br/>
            </div>
          </div>
        <%- end -%>

        <%- @facets.each do |facet, facet_options| -%>
          <%- unless facet.to_s == "price" || facet.to_s == "class"-%>
            <%- if facet_options.count > 0 -%>
              <div class="facet">
                <h4><%= image_tag 'bullet_arrow_down.png' %><%= facet.to_s.humanize %></h4>
                <div class="options" style="padding-left: 10px;">
                <%- facet_options.each do |option, count| -%>
                  <% if params[facet] %>
                    <%= check_box_tag "#{facet}[]", option, params[facet].include?(option.to_s), {:id => option} %>
                  <%- else -%>
                    <%= check_box_tag "#{facet}[]", option, false, {:id => option} %>
                  <%- end -%>
                  <%= label_tag option, "#{option.blank? ? "None" : option}", :style => 'display: inline; float: none; padding: 0px;' %><br/>
                <%- end -%>
                </div>
              </div>
            <%- end -%>
          <%- end -%>
        <%- end -%>

        <%- unless params[:nearby].blank? -%>
          <div class="facet">
            <h4><%= image_tag 'bullet_arrow_down.png' %>Distance (<span id="miles"><%= params[:distance]||SearchesController::MILES %></span>  miles)</h4>
            <div class="options" style="padding-left: 10px;">
              0<input id="distance" type="range" name="distance" min="0" max="50" step="1" value=<%= params[:distance]||SearchesController::MILES %> />50
            </div>
          </div>
        <%- end -%>

        <%- unless params[:class] == ["Winery"] -%>
          <div class="facet" id="price_range">
            <h4><%= image_tag 'bullet_arrow_down.png' %>Price Range $<%= text_field_tag :min_price, params[:min_price], {:style => "border:0; width: 23px; margin:0px; font-weight: bold; text-align: right;"} %>-$<%= text_field_tag :max_price, params[:max_price], {:style => "border:0; width: 23px; margin:0px; font-weight: bold;"} %></h4>
          <div class="options" style="padding: 10px;">
            <div id="slider-range"></div>
  <script>
  $(function() {
		  $("#slider-range").slider({
			  range: true,
			  min: <%= Wine.minimum(:price).to_i %>,
			  max: <%= Wine.maximum(:price).to_i + 1 %>,
			  values: [ <%= params[:min_price]||10 %> , <%= params[:max_price]||50 %> ],
			  slide: function( event, ui ) {
				  $("#min_price").val( ui.values[0]);
				  $("#max_price").val( ui.values[1]);
			  }
		  });
	  });
  </script>
            </div>
          </div>
        <%- end -%>

      </div>
      <%= hidden_field_tag "nearby", params[:nearby] if !params[:nearby].blank? %>
      <%= hidden_field_tag "search", params[:search] if !params[:search].blank?  %>
      <%= submit_tag "Apply Filter" %>
    <%- end -%>
  </div>

  <div class="span-17 last" style="text-align: right;">
    <%= link_to "Can't find a Winery?", new_user_winery_path %>
  </div>

  <%= render :partial => "search_results" %>

</div>

