<div id="home" class="current">

  <div class="toolbar">
    <h1>Wineries</h1>
    <a href="/">Back</a>
  </div>

  <div class="body">
    <ul>
       <% for winery in @wineries %>
      <li class="arrow" href="#wineDetails" >
      <table>    
      <tr> 
		<td width="60">
        			<% if winery.pictures.length > 0 then %>
          				<%= image_tag winery.pictures[0].url(:thumb) %>
        			<% end %>
				</td>	
      <td>
            <div><%= link_to h(winery.winery_name), winery %> </div>
            <div><%= link_to h(winery.city + ", " + winery.state), winery %> </div>
			<% if user_signed_in? %>
            <div class="stars">
              <form action="/winery/<%= @wineries.id %>/rating/" method="post">
                <%= render_stars winery %>
              </form>
            </div>
          <% else %>
            <div class="stars">
                <%= render_stars winery, true %>
            </div>
          <% end %>
	</div>
      </td>
      </tr>
      </table>                     
      </li>
      <% end %>
    </ul>
  </div>   
</div>
