<div id="home" class="current">
  <div class="toolbar">
        <h1><%=h @winery.winery_name %> </h1>
            <a class="button home" href="/">Home</a>
          <% if user_signed_in? %>
              <a id="signed_in"><%= link_to "Sign Out", destroy_user_session_path %></a>
          <% else %>
              <a <%= link_to h("Login"), new_user_session_path %> </a>
          <% end %>        
  </div>
 
<table>
    <tr>
        <td>
            <% if @winery.pictures.length > 0 then %>
            <%= image_tag @winery.pictures[0].url(:thumb) %>
          <% end %>
        </td>    
        
        <td>
          <div class="strong">
              <%=h @winery.address %>
                <%=h @winery.address2 %>
                <%=h @winery.address3 %>
            </div>

            <div class="strong">
                <%=h @winery.city %>, <%=h @winery.state %> <%=h @winery.zipcode %>
            </div>
            <div class="span-5 last strong">
                <%= image_tag("../images/phone.png", :alt=>"telephone") %><%= @winery.telephone %>
            </div>
            <div class="span-5 last strong">
                <a href="<%=h @winery.website_url %>" target="_blank"><%=h @winery.website_url %></a>
             </div>

            <div class="strong">
                <% if user_signed_in? %>
                    <div class="stars">
                        <form action="/wineries/<%= @winery.id %>/rating/" method="post">
                             <%= render_stars @winery %>
                        </form>
                    </div>
                <% else %>
                    <div class="stars">
                        <%= render_stars @winery, true %>
                    </div>
                <% end %>
            </div>
        </td>
    
    </tr>
</table>

  <ul id="links" class="rounded">
      <li class="arrow"><a href="#map">Map</a></li>
    <li class="arrow"><a href="#comments">View and Enter Comments</a></li>
    <li class="arrow"><a href="#welcomeVideoAndMore">Welcome Video and More</a></li>
    <li class="arrow"><%= link_to h("Pictures NOT WORKING"), pictures_path(@winery) %></li>
    <li class="arrow"><a href="#events">Events</a></li>
    <li class="arrow"><a href="#specials">Specials</a></li>
    <li class="arrow"><a href="#wines">Wines</a></li>
  </ul>

</div>  <!--End Home div-->

<div id="comments">
    <div class="toolbar">
      <h1>Comments</h1>
      <a class="button cancel" href="#">Back</a>
    </div>

    <div class="entry_form">
        <% if user_signed_in? %>
          <%= form_for [@winery, Comment.new] do |f| %>    
        	<%= f.error_messages %>
        	<fieldset>
              <ol>
            <li> <%= f.label :content, "Comment" %>  </li>
            <li> <%= f.text_area :content, :rows => 5 %>  </li>  
              <li><%= f.submit %> </li>
             <% end %>
            </ol>
        <% end %>
    </div>

    <ul id="comments">
        <% @winery.comments.each do |comment| %>  
        <li><%= comment.content %></li>  
        <% end %>  
    </ul>
 
</div>

<div id="map">
  <div class="toolbar">
        <h1><%=h @winery.winery_name %></h1>
    <a class="button cancel" href="#">Back</a>
  </div>
  <div>
      <div class="colborder">
          <div>
                <img src="http://maps.google.com/maps/api/staticmap?size=300x300&maptype=roadmap&zoom=10&markers=color:blue|label:S|<%= @winery.lat %>,<%= @winery.lng %>&sensor=false"/>
              </div>
        </div>
    </div>
</div>

<div id="events">
    <div class="toolbar">
        <h1>Events</h1>
        <a class="button cancel" href="#">Back</a>
    </div>
    <div class="body">
        <ul>
            <% for event in @winery.events %>
                <li>
                <div><%= link_to h(event.title), event %> </div>
                <div><%= link_to h(event.description), event %> </div>
                    <% if user_signed_in? %>
                        <div class="stars">
                  <form action="/events/<%= event.id %>/rating/" method="post">
                    <%= render_stars event %>
                   </form>
              </div>
                  <% else %>
                        <div class="stars">
                            <%= render_stars event, true %>
                        </div>
             <% end %>
                 </li>
            <% end %>
        </ul>   
    </div>
</div>

<div id="specials">
    <div class="toolbar">
        <h1>Specials</h1>
        <a class="button cancel" href="#">Back</a>
    </div>
    <div class="body">
        <ul>
            <% for special in @winery.specials %>
                <li>
          <div><%= link_to h(special.title), special %> </div>
          <div><%= link_to h(special.description), special %> </div>
              <% if user_signed_in? %>
            <div class="stars">
                <form action="/specials/<%= special.id %>/rating/" method="post">
                  <%= render_stars special %>
                </form>
                    </div>
                  <% else %>
                        <div class="stars">
                  <%= render_stars special, true %>
                 </div>
               <% end %>
                    </li>
            <% end %>
        </ul>  
    </div>
</div>

<div id="wines">
    <div class="toolbar">
        <h1>Wines</h1>
            <a class="button cancel" href="#">Back</a>
    </div>
    <div class="body">
        <ul>
            <% for wine in @winery.wines %>
                <li class="arrow">  
                  <div><%= link_to h(wine.name), wine %> </div>
                    <div><%= link_to h(wine.winery.city + ", " + wine.winery.state), wine %> </div>
                    <% if user_signed_in? %>
                        <div class="stars">
                            <form action="/wines/<%= wine.id %>/rating/" method="post">
                                <%= render_stars wine %>
                            </form>
                        </div>
                    <% else %>
                			<div class="stars">
                				<%= render_stars wine, true %>
                 			</div>
            				<% end %>
                </li>
      		<% end %>
   			</ul>   
		</div>
</div>

<div id="welcomeVideoAndMore">
    <div class="toolbar">
        <h1>Welcome Video and More</h1>
        <a class="button cancel" href="#">Back</a>
    </div>
    <div class="body">
        			<iframe title="YouTube video player" class="youtube-player" type="text/html" width="300" height="205" src="http://www.youtube.com/embed/YXysqEMMsPc" frameborder="0">
			</iframe>  
    </div>
</div>




