<div class="prepend-top prepend-1 span-22 append-1 last">
  <div class="span-22 last">
    <h2><%=h @winery.winery_name %></h2>
  </div>
  <div class="span-13 colborder">
    <div class="span-13">
      <div class="span-8">
        <img src="http://maps.google.com/maps/api/staticmap?size=300x300&maptype=roadmap&zoom=10&markers=color:blue|label:B|<%= @winery.lat %>,<%= @winery.lng %>&sensor=false"/>
	      </div>
      <div class="span-5 last">
        <div class="span-5 last strong">
          <%=h @winery.winery_name %>
        </div>
        
        <%= render :partial => "shared/star_rating", :locals => {:object => @winery, :action => rating_winery_path(@winery)} %>

        <div class="span-5 last strong">
          <%=h @winery.address %>
          <%=h @winery.address2 %>
          <%=h @winery.address3 %>
        </div>
        <div class="span-5 last strong">
          <%=h @winery.city %>, <%=h @winery.state %> <%=h @winery.zipcode %>
        </div>
        <div class="span-5 last strong">
          <%= image_tag("../images/phone.png", :alt=>"telephone") %><%= @winery.telephone %>
        </div>
        <div class="span-5 last strong">
          <a href="<%=h @winery.website_url %>" target="_blank"><%=h @winery.website_url %></a>
        </div>
        <hr class="space" />

        <% if user_signed_in? %>
          <div class="span-6 append-bottom last">
          <% if @winery.favorites.find_by_user_id(current_user) %>
            <a href="/wineries/<%= @winery.id%>/favorites/<%= @winery.favorites.find_by_user_id(current_user).id %>" class="remove_as_favorite">Remove From My Favorites</a>
          <% else %>
            <a href="/wineries/<%= @winery.id%>/favorites" class="add_as_favorite">Add To My Favorites</a>
          <% end %>
          </div>
        <% end %>

        <div class="span-6 last">
        	<a id="atbutton"></a>
        	<a class="addthis_button"></a>
        </div>

      </div>
    </div>
    
    <hr/>
    
    <div class="span-13">
      <div class="span-13">
        <div class="span-13 last">
          <h2>Awards</h2>
          <% for award in @winery.awards %>
            <h4 style="margin-bottom:0.25px;"><%= award.title %> for <%= award.wine.name %></h4>
            <%= award.description %>
          <% end %>
        </div>
      </div>
    </div>

    <hr/>
    
    <div class="span-13">
      <div class="span-13">
        <div class="span-6 colborder">
          <div id="winery_wines">
             <%= render :partial=>"shared/object_list", :locals => {:object_list => @winery.wines,
                                                                    :path => "wineries/#{@winery.id}/"} %>
          </div>
        </div>
        
        <div class="span-6 last">
          <div id="winery_specials">
             <%= render :partial=>"shared/object_list", :locals => {:object_list => @winery.specials,
                                                                    :path => "wineries/#{@winery.id}/"} %>
          </div>
 
          <hr/>

          <div id="winery_events">
             <%= render :partial=>"shared/object_list", :locals => {:object_list => @winery.events,
                                                                    :path => "wineries/#{@winery.id}/"} %>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="span-8 last">
    <div class="span-8 last">
      <h2>Welcome Video</h2>
    </div>
    <div class="span-8 last">

      <% if @winery.videos.length > 0 then %>
      <% welcome_video =  @winery.videos.first(:conditions => {:welcome => true}) || @winery.videos.first %>
      <iframe title="YouTube video player" class="youtube-player" type="text/html" width="300" height="205" src=<%= "http://www.youtube.com/embed/#{welcome_video.youtube_id}?wmode=transparent" %> frameborder="0">
      </iframe>
        <div>
          <% @winery.videos.all(:conditions => ['ifnull(welcome,0) <> 1 AND youtube_id is not null']).each_with_index do |vid, idx| -%>
            <%= link_to image_tag("http://i.ytimg.com/vi/#{vid.youtube_id}/1.jpg", :size=>'50x50'), "http://www.youtube.com/watch?v=#{vid.youtube_id}", :rel=>"prettyPhoto[wine_vid_gal]" %>
          <% end -%>
        </div>
      <% end %>
    </div>

    <hr/>

    <div class="span-8 last">
      <h2>Winery Pictures</h2>
    </div>
    <div class="span-8 last">
      <% if @winery.pictures.length > 0 then %>
        <div>
          <% @winery.pictures.each_with_index do |pic, idx| -%>
            <%= link_to image_tag(pic.url(:micro), :alt=>pic.title), pic.url(:large), :title=> pic.title, :rel=>"prettyPhoto[wine_gal]" %>
          <% end -%>
        </div>
      <% else %>
        <%= image_tag '../images/no_image_available.png', :border=>0, :alt=>'No Image Found', :size=>'300x300' %>        
      <% end %>
    </div>  

  </div>

</div>
