%footer#footer
  #content
    #left-column
      %h4 I want to know about
      %ul.unstyled
        %li= link_to "Barrelrun", "/pages/landingpage"
        %li= link_to "Terms of Service", "/pages/user_terms_of_service"
        %li= link_to "Privacy", "/pages/privacy"
    #middle-left-column
      %h4 I am a biz owner and want to
      %ul.unstyled
        %li Advertise
        %li Get more info
    #middle-right-column
      %h4 I am a winery and want to
      %ul.unstyled
        %li= link_to "Register", new_winery_registration_path
        %li= link_to  content_tag(:span, 'Login'), new_winery_session_path
        %li= link_to "Get more info", "/pages/landingpage_winery"
    #right-column
      %h4 Social Media
      %ul.unstyled
        %li
          %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:via => "barrelrun", :size => "large"}} Tweet
        %li
          %a.twitter-follow-button{:href => "https://twitter.com/barrelrun", :data => {"show-count" => "false", :size => "large"}} Follow @barrelrun
        %li
          .fb-like{:data => {:href => "http://barrelrun.com/", :send => "false", :width => "280", "show-faces" => "false", :font => "arial"}}

    #copyright
      %h5 Copyright &copy #{Date.today.year} Barrelrun.  All rights reserved.

  #message_box

  - flash.each do |key, msg|
    = content_for(:script,'$(document).ready(function() {addNotice("<p><%= msg %></p>");});')


  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#appId=234974179883778&xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

