%head
  %meta{:charset => "utf-8"}

  %title Barrelrun - #{content_for?(:title) ? yield(:title) : "Discover and connect"}

  %meta{:name => "description", :content => "Welcome to Barrelrun.com, the world's first wine site and application to fully connect wineries with users! Discover all sorts of interesting things about each winery and get real-time updates on awesome specials, great events, and much more!"}
  %meta{:name => "keywords", :content => "barrelrun, barrel run, wine, winery, california winery, wine application, wine site, napa, temecula, paso robles, san diego, oregon winery, washington winery, santa barbara, mendocino, livermore"}
  %meta{ :name => "author", :content => "Mark Vilrokx" }/

  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

  %link{:rel => "shortcut icon", :href => "#{asset_path 'barrelrun/favicon.ico'}" }

  = render :partial => "layouts/stylesheets"

  -# TODO: We need to find a way to move these to bottom of our pages
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js'
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
  = javascript_include_tag '//maps.google.com/maps/api/js?sensor=false'
  = javascript_include_tag 'application'
  -# TODO-END: We need to find a way to move these into the bottom of our pages

  = javascript_include_tag "polyfills"

  = csrf_meta_tags

  = yield :head

