#wines
  = will_paginate @wines
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th Type
        %th Vintage
        %th Varietal
        %th Pictures
        %th{:colspan => "3"} Action
    %tbody
      - @wines.each do |wine|
        %tr[wine]
          %td= wine.name
          %td= wine.description
          %td= number_to_currency(wine.price)
          %td= wine.wine_type
          %td= wine.vintage
          %td= wine.varietal
          - if wine.pictures.length > 0 then
            %td= image_tag wine.pictures[0].url(:micro)
          - else
            %td
          - if false
            / commenting out ruby code
            / <td><haml:loud> link_to image_tag(&quot;page_find.png&quot;, :border=&gt;0, :alt=&gt;&quot;Show&quot;), wine, :title=&gt; &quot;Show&quot;, :class =&gt; 'dialog_form_link' </haml:loud>
          %td= edit_link_image edit_winery_wine_path(wine.winery, wine), :class => 'dialog_form_link'
          %td= delete_link_image wine, :class => 'delete'
          - if false
            / commenting out ruby code
            / <td><haml:loud> link_to 'Destroy', wine, :confirm =&gt; 'Are you sure?', :method =&gt; :delete </haml:loud></td>
            / <td><haml:loud> link_to &quot;Delete&quot;, delete_wine_path(wine), :class =&gt; &quot;dialog_form_link&quot; </haml:loud></td>
  = will_paginate @wines
