<% title("Create New Wine") %>

<div class="container">
	<hr class="space"/>
	<div class="push-3 span-18 last">
		<div class="entry_form">
			<div class="span-18 main">
				<hr class="space"/>
				<div class="push-1 span-16 last">
    
          <h2>Create New Wine</h2>

          <div class="edit_form">
            <fieldset>
              <% form_for @wine, :html => {:multipart => true } do |f| %>
                <%= f.error_messages %>
                <%= f.label :name %>
                <span class="div_texbox">
                  <%= f.text_field :name, :required => true, :class => "fillout01" %>
              	</span>
                <div class="span-16 last">
                  <%= f.label :description %>
                  <span class="div_texbox" style="height: auto;">            
                    <%= f.text_area :description, :class => "fillout01" %>
                	</span>
                </div>

                <%= f.label :wine_type %>
                <span class="div_texbox">            
                  <%= f.text_field :wine_type, :class => "fillout03" %>
              	</span>

                <%= f.label :vintage %>
                <span class="div_texbox">            
                  <%= f.text_field :vintage, :class => "fillout04" %>
              	</span>

                <%= f.label :varietal %>
                <span class="div_texbox">            
                  <%= f.text_field :varietal, :class => "fillout02" %>
              	</span>

                <%= f.label :price %>
                <span class="div_texbox">            
                  <%= f.text_field :price, :class => "fillout04" %>
              	</span>

                <div id="picture_fields">
	              <% f.fields_for :pictures do |builder| %>
                  <%= render :partial => "shared/picture_fields", :locals => {:f => builder} %>        
                <% end %>
                </div>

                <span class="div_texbox"><%= add_child_link "Add Picture?", :pictures %></span>

                <%= new_child_fields_template f, :pictures, {:partial => "shared/picture"} %>

                <span class="div_texbox">            
                  <%= f.submit "Save" %>
              	</span>

              <% end -%>
            </fieldset>
          </div>
        </div>
      </div>
      <div id="jstemplates">
        <%= yield :jstemplates %>
      </div>
    </div>
  </div>

</div>
