<div class="span-17 entry_form last">
  <div class="span-17 last">
    <div class="span-12 colborder">
      <div class="span-3">
        <% if @wine.pictures.length > 0 then %>
          <%= image_tag @wine.pictures[0].url(:thumb) %>
        <% else %>
          <%= image_tag '../images/no_image_available.png', :border=>0, :alt=>'No Image Found', :size=>'110x110' %>        
        <% end %>
      </div>

      <div class="span-9 last">
        <div class="span-9 last">
          <h3><%=h @wine.name %></h3>
        </div>
        <div class="span-9 append-bottom last">
          <% if user_signed_in? %>
            <div class="stars">
              <form action="/wines/<%= @wine.id %>/rating/" method="post">
                <%= render_stars @wine %>
              </form>
            </div>
          <% else %>
            <div class="stars">
                <%= render_stars @wine, true %>
            </div>
          <% end %>
        </div>

        <div class="span-9 last">
        <% if @wine.favorites.find_by_user_id(current_user) %>
          <a href="/wines/<%= @wine.id%>/favorites/<%= @wine.favorites.find_by_user_id(current_user).id %>" class="remove_as_favorite">Remove From My Favorites</a><
        <% else %>
          <a href="/wines/<%= @wine.id%>/favorites" class="add_as_favorite">Add To My Favorites</a>
        <% end %>
        </div>

        <div class="span-9 last">
          Share
        </div>

        <div class="span-9 last" style="height: 110px; overflow: auto; margin: 10px 0px;">
          <%=h @wine.description %>
        </div>
      </div>
    </div>
    <div class="span-4 last">
      <ul>
        <li><strong>Vintage: </strong><%=h @wine.vintage %></li>
        <li><strong>Type: </strong><%=h @wine.wine_type %></li>
        <li><strong>Varietal: </strong><%=h @wine.varietal %></li>
        <li><strong>Price: </strong><%=h number_to_currency(@wine.price) %></li>
      </ul>
    </div>
    <hr/>
  </div>
  <div class="span-17 last">
    <div class="span-3">
      <h3>Comments</h3>
    </div>
    <div class="span-14 last">
        <%= link_to "#{image_tag('../images/pencil.png', :border=>0, :alt=>'Write a comment')} Write a new Comment", wine_comments_path(@wine), :title=> "Write a new Comment", :class=>"write_comment" %>
    </div>
  </div>

  <div class="span-16 last comments">
  <% form_for [@wine, Comment.new] do |f| %>  
    <%= f.error_messages %>
    <%= f.text_area :content, :rows => 3, :style=>"height: 100%; width: 100%;"  %>
    <%= f.submit "Save Comment" %>
  <% end %>
  </div>

  <div id="comments"><%= render :partial => "shared/comments", :locals =>{:commentable => @wine} %></div>

</div>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>

