<div id="home" class="current">
  <div class="toolbar">
      <h1>Wine Detail</h1> 
        	<a <%= link_to h("Back"), wines_path %></a> 
  </div>

<table>	
<tr>
<h3><%=h @wine.name %></h3>
<td width="60">
        <% if @wine.pictures.length > 0 then %>
          <%= image_tag @wine.pictures[0].url(:thumb) %>
        <% end %>
</td>
<td>
        <div><strong>Vintage: </strong><%=h @wine.vintage %></div>
        <div><strong>Type: </strong><%=h @wine.wine_type %></div>
        <div><strong>Varietal: </strong><%=h @wine.varietal %></div>
        <div><strong>Price: </strong><%=h number_to_currency(@wine.price) %></div>
        <div><%= link_to h("View and Enter Comments"), wine_comments_path(@wine) %></div>
	<div><strong>Rating: </strong>
	<% if user_signed_in? %>
            <div class="stars">
              <form action="/wines/<%= @wine.id %>/rating/" method="post">
                <%= render_stars @wine %>
              </form>
            </div>
          <% else %>
            <div class="stars">
                <%= render_stars @wine, true %>
            </div>
          <% end %>
	</div>
</td>
</tr>
</table>
        <div class="span-9 last"style="height:50px; overflow: auto; margin: 10px 0px;">
          <%=h @wine.description %> </div>	
</div>

