<div class="span-17 entry_form last">
  <div class="span-17 last">
    <div class="span-12 colborder">
      <div class="span-3">
        <% if @wine.pictures.length > 0 then %>
          <%= image_tag @wine.pictures[0].url(:thumb) %>
        <% else %>
          <%= image_tag '../images/no_image_available.png', :border=>0, :alt=>'No Image Found', :size=>'110x110' %>        
        <% end %>
      </div>

      <div class="span-9 last">
        <div class="span-9 last">
          <h3><%=h @wine.name %></h3>
        </div>
        <div class="span-9 append-bottom last">
          <% if user_signed_in? %>
            <div class="stars">
              <form action="/wines/<%= @wine.id %>/rating/" method="post">
                <%= render_stars @wine %>
              </form>
            </div>
          <% else %>
            <div class="stars">
                <%= render_stars @wine, true %>
            </div>
          <% end %>
        </div>
        <div class="span-9 last">
          <%= link_to "#{image_tag('../images/pencil.png', :border=>0, :alt=>'Write a comment')}Write a Comment", wine_comments_path(@wine), :title=> "Write a Comment" %>
        </div>
        <div class="span-9 last">
          Add as Favorite
        </div>
        <div class="span-9 last">
          Share
        </div>
        <div class="span-9 last" style="height: 110px; overflow: auto; margin: 10px 0px;">
          <%=h @wine.description %>
        </div>
      </div>
    </div>
    <div class="span-4 last">
      <ul>
        <li><strong>Vintage: </strong><%=h @wine.vintage %></li>
        <li><strong>Type: </strong><%=h @wine.wine_type %></li>
        <li><strong>Varietal: </strong><%=h @wine.varietal %></li>
        <li><strong>Price: </strong><%=h number_to_currency(@wine.price) %></li>
      </ul>
    </div>
    <hr/>
  </div>
  <div class="span-17 last">
    <div class="span-3">
      <h3>Comments</h3>
    </div>
    <div class="span-14 last">
        <%= link_to "#{image_tag('../images/pencil.png', :border=>0, :alt=>'Write a comment')} Write a Comment", wine_comments_path(@wine), :title=> "Write a Comment", :class=>"inline_comment" %>
    </div>
  </div>
  <div class="span-17 last sort">
    Sort by: <%= sortable "comments.created_at", "Date" %> | <%= sortable "comments.created_at", "Rating"  %>
  </div>

  <div class="span-17 last">
  <% form_for [@wine, Comment.new] do |f| %>  
    <%= f.error_messages %>
    <%= f.text_area :content, :rows => 4, :style=>"height: 100%; width: 100%;"  %>
    <%= f.submit "Save Comment" %>
  <% end %>
  </div>

  <div class="span-17 last style="overflow:auto;height:80px;"">
    <% @wine.comments.each do |comment| %>
      <div class="span-2">
          <%=h comment.user.username %>
      </div>
      <div class="span-15 last">
        <div class="span-15 last">
          <div class="stars span-3">
            <form action="/wines/<%= @wine.id %>/rating/" method="post">
              <% @user_rating = @wine.ratings.find_by_user_id(comment.user.id) %>
              <% if @user_rating then %>
                <%= render_stars(nil, true, @user_rating.rate) %>
              <% else %>
                <%= render_stars(nil, true, 0) %>                  
              <% end %>
            </form>
          </div>
          <div class="span-12 last">
            <%=h comment.created_at.strftime('%m/%d/%Y') %>
          </div>
        </div>
        <div class="span-15 last">
            <%=h comment.content %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>

