<% title("Edit " + resource_name.to_s.humanize) %>

<div class="container">
  <div class="push-3 span-18 last sub_nav">
    <ul>
      <li><%= link_with_active 'Winery', edit_winery_registration_path %></li>
<% if false %>
      <li><%= link_with_active 'Credit Cards', credit_cards_path %></li>
      <li><%= link_with_active 'Subscription Information', subscriptions_path%></li>
<% end %>
    </ul>
  </div>
  <hr class="space">
  <div class="push-3 span-18 last main">
    <hr class="space">
    <div class="push-1 span-16">
    
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="edit_form">
        <fieldset>
          <div class="subheading">
            <%= image_tag("../images/account_info.png", :border=>0, :width=>31, :height=>36, :style=>"padding-bottom: 10px; vertical-align: middle;") %> Account Information
          </div>
          <% form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f| -%>
            <%= f.error_messages %>
            <%= f.label :username %>
            <span class="div_texbox">
              <%= f.text_field :username, :disabled => "disabled", :class => "fillout01" %> <i>(cannot be changed)</i>
          	</span>         	
            <%= f.label :password %>
            <span class="div_texbox">
              <%= f.password_field :password, :class => "fillout01" %>
          	</span>
            <%= f.label :password_confirmation %>
            <span class="div_texbox">
              <%= f.password_field :password_confirmation, :class => "fillout01" %>
          	</span>
          	<hr>
          <div class="subheading">
            <%= image_tag("../images/personal_info.png", :border=>0, :width=>31, :height=>36, :style=>"padding-bottom: 10px; vertical-align: middle;") %> Personal Information
          </div>
            <%= f.label :winery_name %>
            <span class="div_texbox">
              <%= f.text_field :winery_name, :required => true, :class => "fillout01" %>
          	</span>
            <%= f.label :owner_gm_name, "Owner/GM name" %>
            <span class="div_texbox">
              <%= f.text_field :owner_gm_name, :class => "fillout02" %>
          	</span>
            <%= f.label :owner_gm_email, "Owner/GM email" %>
            <span class="div_texbox">
              <%= f.text_field :owner_gm_email, :class => "fillout01" %>
          	</span>
            <%= f.label :contact_first_name %>
            <span class="div_texbox">
              <%= f.text_field :contact_first_name, :class => "fillout03" %>
          	</span>
            <%= f.label :contact_last_name %>
            <span class="div_texbox">
              <%= f.text_field :contact_last_name, :class => "fillout03" %>
          	</span>
            <%= f.label :telephone %>
            <span class="div_texbox">
              <%= f.text_field :telephone, :required => true, :class => "fillout03" %>
          	</span>
            <%= f.label :email %>
            <span class="div_texbox">
              <%= tag(:input, {:id => "winery_email", :name => "winery[email]", :type => :email, :placeholder => 'e.g. user@domain.com', :value => f.object.email, :class => "fillout01"}) %>
          	</span>
            <%= f.label :address %>
            <span class="div_texbox">
              <%= f.text_field :address, :class => "fillout01" %>
          	</span>
            <%= f.label :address2 %>
            <span class="div_texbox">
              <%= f.text_field :address2, :class => "fillout01" %>
          	</span>
            <%= f.label :city %>
            <span class="div_texbox">
              <%= f.text_field :city, :class => "fillout03" %>
          	</span>
            <%= f.label :state %>
            <span class="div_texbox">
              <%= f.text_field :state, :class => "fillout04" %>
          	</span>
            <%= f.label :zipcode %>
            <span class="div_texbox">
              <%= f.text_field :zipcode, :class => "fillout04" %>
          	</span>
            <%= f.label :country %>
            <span class="div_texbox">
              <%= f.text_field :country, :class => "fillout04" %>
          	</span>
            <%= f.label :website_url %>
            <span class="div_texbox">
              <%= f.text_field :website_url, :required => true, :class => "fillout01" %>
          	</span>
	
          <hr>
          <div class="subheading">
            <%= image_tag("../images/account_info.png", :border=>0, :width=>31, :height=>36, :style=>"padding-bottom: 10px; vertical-align: middle;") %> Additional Details
          </div>

	<div class="span-16 last">
	  <%= f.label :descr, "Description" %>
      <span class="div_texbox3" style="height: auto;">
        <%= f.text_area :descr, :class => "fillout05" %>
    	</span>
	<div/>

	<div class="span-16 last">
 	  <%= f.label :hours, "Hours" %>
      <span class="div_texbox4", style="height: auto;">
        <%= f.text_area :hours, :class => "fillout06"  %>
    	</span>
	<div/>

	<div class="span-16 last">
 	  <%= f.label :price, "Price range" %>
      <span class="div_texbox">
        <%= f.text_field :price, :class => "fillout01" %>
    	</span>
	<div/>

	<div class="span-16 last">
 	  <%= f.label :parking, "Parking" %>
      <span class="div_texbox">
        <%= f.check_box :parking %>
    	</span>
	<div/>

	<div class="span-16 last">
 	  <%= f.label :handicap, "Handicaped accessible" %>
      <span class="div_texbox">
        <%= f.check_box :handicap%>
    	</span>
	<div/>

	<div class="span-16 last">
 	  <%= f.label :restaurant, "Restaurant" %>
      <span class="div_texbox">
        <%= f.check_box :restaurant %>
    	</span>
	<div/>

	<div class="span-16 last">
 	  <%= f.label :fam_friendly, "Family friendly" %>
      <span class="div_texbox">
        <%= f.check_box :fam_friendly %>
    	</span>
	<div/>

	<div class="span-16 last">
            <%= f.label :current_password %>
            <span class="div_texbox">
              <%= f.password_field :current_password, :required => true, :class => "fillout01" %> <i>(for confirmation)</i>
            </span>
	<div/>

	<div class="span-16 last">
            <span class="div_texbox">
              <%= f.check_box :accepts_terms_of_service, :required => true %>&nbsp;&nbsp;<%=link_to "Terms of Service", '/pages/biz_terms_of_service', :class=>"dialog_link" %>
            </span>
	<div/>

            <span class="div_texbox">
              <%= f.submit "Update" %>
           	</span>
          <% end -%>
        </fieldset>
      </div>
    </div>
  </div>
</div>
