!!! 5
- ie_html :class => "no-js", :lang => "en" do

  = render "head"

  %body{:class => params[:controller]}

    = render "header"

    = render "layouts/body"

    = render "footer"

    = render "layouts/javascripts"

    -# TODO Remove this when done with conversion to Compass
    = render "layouts/css_switcher"

